body {
    margin-right: 0;
    padding: 0;
    background-image: url('https://i.redd.it/0od1b5k14mw71.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.input {
    border-radius: 300;
}


  
  

  